{{- $src := ( .Destination | safeURL ) -}}
{{- $relpath := ( add "/" .Page.File.Dir ) -}}
{{- $fullpath := ( add $relpath $src ) -}}
<figure>
  <picture>

    {{/* If the image is external, we provide a basic <img> tag. */}}
    {{- if strings.HasPrefix $src "http" -}}

      <img class="image_figure image_external" loading="lazy" src="{{ $fullpath }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}" {{ end }} />

    {{/* Otherwise, we add modern image formats, if they exist. */}}
    {{/* This does not create these images, it only checks if they're present. */}}
    {{- else -}}

      {{ range $ext := (slice "avif" "webp" "jxl") }}
        {{ $dotext := print "." $ext }}
        {{ $path := add $relpath $src }}
        {{ $path = replace $path ".png" $dotext }}
        {{ $path = replace $path ".jpg" $dotext }}
        {{ $path = replace $path ".jpeg" $dotext }}
        {{ $path = replace $path ".gif" $dotext }}
        {{ if fileExists $path }}
          <source srcset="{{ $path | safeURL }}" type="image/{{ $ext }}">
        {{ end }}
      {{ end }}

      {{/* Original image, for fallback (IE). */}}
      {{ $img := imageConfig (add (add "/content/" .Page.File.Dir) .Destination) }}
      <img class="image_figure image_internal" src="{{ $fullpath }}" alt="{{ .Text }}" loading="lazy" decoding="async" width="{{ $img.Width }}" height="{{ $img.Height }}" {{ with .Title}} title="{{ . }}" {{ end }} />

    {{- end -}}

    {{/* Provide caption based on image title, if it exists. */}}
    {{ if (.Title) -}}
      <figcaption>{{ .Title | safeHTML }}</figcaption>
    {{- end }}

  </picture>
</figure>
