{{- $alt := .Text -}}{{/* alt text */}}
{{- $cap := .Title -}}{{/* caption */}}

{{- $file := .Destination | safeURL }}{{/* filename of image */}}

{{/* Check if page bundles are set. */}}
{{- $bundle := .Page.Site.Params.usePageBundles }}
{{ if eq .Page.Params.usePageBundles false }}
  {{- $bundle = false }}
{{ end }}
{{ if eq .Page.Params.usePageBundles true }}
  {{- $bundle = true }}
{{ end }}

{{- $fileWeb := "" -}}{{/* full path to image, relative to the web root */}}
{{- $fileDisk := "" -}}{{/* full path to image, relative to the file root */}}
{{ if eq $bundle true }}
  {{- $fileWeb = (add $.Page.RelPermalink $file) -}}
  {{- $fileDisk = (add "/content/" (add $.Page.File.Dir $file)) }}
{{ else }}
  {{- $fileWeb = absURL .Destination -}}
  {{- $fileDisk = (add "/static/" $file) }}
{{ end }}

{{ if fileExists $fileDisk }}

  {{- $img := imageConfig $fileDisk -}}{{/* image element (passed through imageConfig) */}}

  <figure>
    <picture>

      {{/* Image is external. */}}
      {{- if strings.HasPrefix $file "http" -}}

        <img class="image_figure image_external" loading="lazy" src="{{ $file }}" alt="{{ $alt }}" {{ with $cap}} title="{{ $cap }}" {{ end }} />

      {{/* Image is internal. */}}
      {{- else -}}

      {{ range $ext := (slice "avif" "webp" "jxl") }}
        {{ $dotext := print "." $ext }}
        {{ $diskPath := $fileDisk }}
        {{ $webPath := $fileWeb }}
        {{ $diskPath = replace $diskPath ".png" $dotext }}
        {{ $diskPath = replace $diskPath ".jpg" $dotext }}
        {{ $diskPath = replace $diskPath ".jpeg" $dotext }}
        {{ $diskPath = replace $diskPath ".gif" $dotext }}
        {{ $webPath = replace $webPath ".png" $dotext }}
        {{ $webPath = replace $webPath ".jpg" $dotext }}
        {{ $webPath = replace $webPath ".jpeg" $dotext }}
        {{ $webPath = replace $webPath ".gif" $dotext }}
        {{ if fileExists $diskPath }}
          <source srcset="{{ $webPath | safeURL }}" type="image/{{ $ext }}">
        {{ end }}
      {{ end }}

      <img class="image_figure image_internal" src="{{ $fileWeb }}" alt="{{ $alt }}" loading="lazy" decoding="async" width="{{ $img.Width }}" height="{{ $img.Height }}" {{ with $cap }} title="{{ $cap }}" {{ end }} />

      {{- end -}}

      {{/* Provide caption based on image title, if it is set. */}}
      {{ if ($cap) -}}
        <figcaption>{{ $cap | safeHTML }}</figcaption>
      {{- end }}

    </picture>
  </figure>

{{- else }}
  {{- partial "image-error" (dict "fileWeb" $fileWeb "fileDisk" $fileDisk "bundle" $bundle) }}
{{- end }}
