<!DOCTYPE html>
<html lang='{{ .Lang }}'>
  {{- partial "head" . }}
  {{- $maxCodeLines := 100 }}
  {{- $params := .Site.Params }}
  {{- with $params.codeMaxLines }}
    {{- $maxCodeLines = . }}
    {{- end }}
  {{- with .Params.codeMaxLines }}
    {{- $maxCodeLines = . }}
  {{- end }}
  <body{{ with $maxCodeLines }} data-code="{{ . }}"{{ end }}{{ with $params.codeLineNumbers }} data-lines="{{ . }}"{{ end }}>
    {{- partial "nav" . }}
    <main>
      {{- block "main" . }}{{ end }}
    </main>
    {{- partial "icons" }}
    {{- partial "footer" . }}
  </body>
</html>
