{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{ $scratch.Set "image" .Site.Params.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}
<div class="{{ if ne .Params.singleColumn true }}grid-inverse {{ end }}wrap content">
  <article class="post_content">
    {{- $t := .Title }}
    <h1 class="post_title">{{ $t }}</h1>
    {{- partial "post-meta" . }}
    {{ partial "share" . }}
    {{ with .Params.featureImage }}
    <img src="{{ . }}" class="image_featured" alt="{{ $t }}">
    {{ end }}
    {{ if .Params.toc }}
    <h2>{{ T "overview" }}</h2>
    {{ .TableOfContents }}
    {{ end }}
    {{- .Content }}
    {{ if and ( ne .Site.Params.comment false ) ( ne .Params.comment false ) }}
      {{ partial "comments" . }}
    {{ end }}
    {{- partial "i18nlist" . }}
  </article>
  {{- if ( ne .Params.sidebar false ) }}
    {{- partial "sidebar" . }}
  {{ end }}
</div>
{{- end }}
