{{- define "main" }}
{{- $s := .Site.Params }}
{{- $p := .Params }}
{{- $scratch := newScratch }}
{{- if isset $p "image" }}
  {{- $scratch.Set "image" $p.image }}
{{- else }}
  {{ $scratch.Set "image" $s.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := absLangURL (path.Join "images" $image) }}
<div class="{{ if ne $p.singleColumn true }}grid-inverse {{ end }}wrap content">
  <article class="post_content">
    {{- $t := .Title }}
    <h1 class="post_title">{{ $t }}</h1>
    {{- partial "post-meta" . }}
    {{- if .Params.featureImage -}}
      <div class="post_featured">
        {{- partial "image" (dict "file" .Params.featureImage "type" "featured") }}
      </div>
    {{- end -}}
    {{ if $p.toc }}
    <div class="post_toc">
      <h2>{{ T "overview" }}</h2>
      {{ .TableOfContents }}
    </div>
    {{ end }}
    <div class="post_body">
      {{- .Content }}
    </div>

    {{- $showRelatedInArticle := true }}
    {{- if eq $s.showRelatedInArticle false }}
      {{- $showRelatedInArticle = false }}
    {{- else if eq $p.showRelatedInArticle false }}
      {{- $showRelatedInArticle = false }}
    {{- end }}
    {{- if ne $showRelatedInArticle false }}
      {{- partial "related" . }}
    {{- end }}

    {{- $showComments := true }}
    {{- if eq $s.comments false }}
      {{- $showComments = false }}
    {{- else if eq $p.comments false }}
      {{- $showComments = false }}
    {{- end }}
    {{- if ne $showComments false }}
      {{- partial "comments" . }}
    {{- end }}
    {{- partial "i18nlist" . }}

  </article>
  {{- if ( ne $p.sidebar false ) }}
    {{- partial "sidebar" . }}
  {{ end }}
</div>
{{- end }}
