{{- $filteredPosts := .Site.Params.blogDir }}
{{ $pages := .Pages }}
{{ if .IsHome }}
  {{ $pages = .Site.RegularPages }}
  {{ if $filteredPosts }}
    {{ $pages = where $.Site.RegularPages "Section" $filteredPosts }}
  {{ end }}
{{ end }}
<div class='grid-inverse wrap content'>
  <ul class='posts' id = 'posts'>
    {{- range (.Paginate $pages).Pages }}
      {{ partial "excerpt" . }}
    {{- end }}
    <li>
      {{- template "_internal/pagination.html" . }}
    </li>
  </ul>
  {{- partial "sidebar" . }}
</div>
