<li class="post_item">
  <div class="excerpt">
    <div class="excerpt_header">
      <h3 class="post_link">
        <a href="{{ .Permalink }}">{{ .Title  }}</a>
      </h3>
      {{ partial "post-meta" . }}
    </div>
    {{- with .Params.thumbnail }}
    <div class="excerpt_footer partition">
      <div class="excerpt_thumbnail">
        <img src='{{ if (hasPrefix . "http") }}{{ . }}{{ else }}{{ absURL . }}{{ end }}'>
      </div>
      {{ else }}
      <div class="excerpt_footer">
        {{- end }}
        <div>
          <p class="pale">{{ truncate 320 .Summary }}</p>
          <a href="{{ .Permalink }}" class="excerpt_more button">{{ i18n "read_more" }}</a>
        </div>
      </div>
    </div>
  </li>
