{{- $iconsDir := default "icons" .Site.Params.iconsDir -}}
{{- $iconsLocalDir := (path.Join "static" $iconsDir) -}}
{{- $absIconURL := $iconsDir | absURL -}}
{{ $icons := dict
  "appletouch" "apple-touch-icon.png"
  "favicon" "favicon.ico"
  "favicon32" "favicon-32x32.png"
  "favicon16" "favicon-16x16.png"
  "safariMaskIcon" "safari-pinned-tab.svg"
  "browserconfig" "browserconfig.xml"
  "manifest" "site.webmanifest"
}}
{{- $safariMaskIconColor := default  "#5bbad5" .Site.Params.safariMaskIconColor -}}
{{- $msTileColor :=  default "#da532c" .Site.Params.msTileColor -}}
{{- $ThemeColor := default  "#ffffff" .Site.Params.ThemeColor -}}

{{- if fileExists $iconsLocalDir -}}
  {{- if fileExists (path.Join $iconsLocalDir $icons.appleTouch) -}}
    {{- $url := printf "%s%s" $absIconURL $icons.appleTouch -}} <link rel="apple-touch-icon" sizes="180x180" href="{{- $url -}}" />
  {{ end }}
  {{- if fileExists (path.Join $iconsLocalDir $icons.favicon32) -}}
    {{- $url :=printf "%s%s" $absIconURL $icons.favicon32 -}} <link rel="icon" type="image/png" sizes="32x32" href="{{- $url -}}" />
  {{ end }}
  {{- if fileExists (path.Join $iconsLocalDir $icons.favicon16) -}}
    {{- $url :=printf "%s%s" $absIconURL $icons.favicon16 -}} <link rel="icon" type="image/png" sizes="16x16" href="{{- $url -}}" />
  {{ end }}
  {{- if fileExists (path.Join $iconsLocalDir $icons.manifest) -}}
    {{- $url :=printf "%s%s" $absIconURL $icons.manifest -}} <link rel="manifest" href="{{- $url -}}" />
  {{ end }}
  {{- if fileExists (path.Join $iconsLocalDir $icons.safariMaskIcon) -}}
    {{- $url:= printf "%s%s" $absIconURL $icons.safariMaskIcon -}} <link rel="mask-icon" href="{{- $url -}}" color="{{- $safariMaskIconColor -}}" />
  {{ end }}
  {{- if fileExists (path.Join $iconsLocalDir $icons.favicon) -}}
    {{- $url :=printf "%s%s" $absIconURL $icons.favicon -}} <link rel="shortcut icon" href="{{- $url -}}" />
  {{ end }}
  {{- if fileExists (path.Join $iconsLocalDir $icons.browserconfig) -}}
    {{- $url:= printf "%s%s" $absIconURL $icons.browserconfig -}} <meta name="msapplication-config" content="{{- $url -}}" />
  {{ end }}
  <meta name="theme-color" content="{{- $ThemeColor -}}" /> <meta name="msapplication-TileColor" content="{{- $msTileColor -}}" />
{{ end }}
