{{- $file := .file -}}{{/* filename of image */}}
{{- $alt := .Text -}}{{/* alt text */}}
{{- $cap := .Title -}}{{/* caption */}}

{{- $scratch := newScratch -}}
{{- $scratch.Set "classes" "image_figure" -}}

{{/* Determine if page bundles are set. */}}
{{- $bundle := .Page.Site.Params.usePageBundles -}}
{{- if eq .Page.Params.usePageBundles false -}}
  {{- $bundle = false -}}
{{- end -}}
{{- if eq .Page.Params.usePageBundles true -}}
  {{- $bundle = true -}}
{{- end -}}

{{/* Determine source of image and get attributes. */}}
{{- $image := $file -}}
{{- if strings.HasPrefix $file "http" -}}
  {{- $scratch.Add "classes" " image_external" -}}
  {{- $image = resources.GetRemote $file -}}
{{- else -}}
  {{- $scratch.Add "classes" " image_internal" -}}
  {{ $image = resources.Get $file }}
{{- end -}}

<figure>
  <picture>

    {{/* Generate alternate image format tags. */}}
    {{- with $image -}}
      {{ $name := replace $image (path.Ext $image) "" }}
      {{ $ext := slice "avif" "webp" "jxl" }}
      {{- range $ext -}}
        {{ $path := printf "%s" . | printf "%s%s" "." | printf "%s%s" $name | printf "%s" }}
        {{- if fileExists $path -}}
          <source srcset="{{ $path }}" type="image/{{ . }}">
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{/* Render image and attributes. */}}
    <img
      loading="lazy"
      decoding="async"
      alt="{{ $alt }}"
      {{ with $image }}
        class="{{ $scratch.Get "classes" }} image_processed"
        width="{{ .Width }}"
        height="{{ .Height }}"
        src="{{ .RelPermalink }}"
      {{ else }}
        class="{{ $scratch.Get "classes" }} image_unprocessed"
        src="{{ $file }}"
      {{ end }}
      {{ with $cap }}
        title="{{ $cap }}"
      {{ end }}
    />

    {{/* Provide caption based on image title, if it is set. */}}
    {{- with $cap -}}
      <figcaption>{{ $cap | safeHTML }}</figcaption>
    {{- end -}}

  </picture>
</figure>
