{{- $highlightPath := "js/highlight.js" }}
{{- $highlight := resources.Get $highlightPath | resources.ExecuteAsTemplate $highlightPath . }}

{{- $functionsScriptPath := "js/functions.js" }}
{{- $functions := resources.Get $functionsScriptPath | resources.ExecuteAsTemplate $functionsScriptPath . }}

{{- $codeScriptPath := "js/code.js" }}
{{- $code := resources.Get $codeScriptPath | resources.ExecuteAsTemplate $codeScriptPath . }}

{{- $mainScriptPath := "js/index.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $bundle := slice $highlight $functions $code $main | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" }}
<script src = '{{ $bundle.Permalink }}'></script>
