<div class='post_share'>
  Share on:
  <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&tw_p=tweetbutton" class="twitter" title="Share on Twitter" target="_blank" rel="nofollow">
    <svg class="icon">
      <use xlink:href="#twitter"></use>
    </svg>
  </a>
  
  <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" class="facebook" title="Share on Facebook" target="_blank" rel="nofollow">
    <svg class="icon">
      <use xlink:href="#facebook"></use>
    </svg>
  </a>
  <script>
    function shareViaLinkedin() {
      window.open('http://www.linkedin.com/shareArticle?mini=true&url='+encodeURIComponent({{ .Permalink }}), '', 'left=0,top=0,width=650,height=420,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
    }
  </script>
  <a href="#linkedinshare" id = "linkedinshare" class="linkedin" title="Share on LinkedIn" rel="nofollow" onclick="shareViaLinkedin()">
    <svg class="icon">
      <use xlink:href="#linkedin"></use>
    </svg>
  </a>
  <a href="{{ .Permalink }}" title="Copy Link" class="link link_yank">
    <svg class="icon">
      <use xlink:href="#yank"></use>
    </svg>
  </a>
</div>
