<aside class="sidebar">
  <section class="sidebar_inner">
    <h2>{{ .Site.Params.Author }}</h2>
    <div>
      {{ .Site.Params.IntroDescription }}
    </div>
    <a href='{{ absLangURL "about/" }}' class="button mt-1" role="button">{{ i18n "read_more" }}</a>
    {{- $numberOfFeaturedPosts := default 8 .Site.Params.numberOfFeaturedPosts }}
    {{- with first $numberOfFeaturedPosts (where (where .Site.RegularPages "Params.featured" true) "File.UniqueID" "!=" .File.UniqueID) }}
    <h2 class="mt-4">{{ i18n "featured_posts" }}</h2>
    <ul>
      {{- range . }}
      <li>
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    <h2 class="mt-4">{{ i18n "recent_posts" }}</h2>
    <ul class="flex-column">
      {{- $numberOfRecentPosts := default 8 .Site.Params.numberOfRecentPosts }}
      {{- range first $numberOfRecentPosts (where (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.hidden" "!=" true) "File.UniqueID" "!=" .File.UniqueID) }}
      <li>
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
    {{- $numberOfTagsLimit := $.Site.Params.numberOfTagsShown }} <!-- See config -->
    {{ range $key, $value := .Site.Taxonomies }}
    {{ if gt $value 0 }}
    <div>
      <h2 class="mt-4 taxonomy" id="{{ $key }}-section">{{ i18n $key }}</h2>
      <nav class="tags_nav">
        {{- $onPageTags := $.Page.Params.tags }}
        {{- $slicedTags := ($value.ByCount | first $numberOfTagsLimit) }}
        {{- range $slicedTags }}
        <a href='{{ absLangURL $key }}/{{ (replace .Name "#" "%23") | urlize }}/' class="post_tag button button_translucent">
          {{ upper .Name }}
          <span class="button_tally">{{ .Count }}</span>
        </a>
        {{ end }}
        {{ if gt (len $value.ByCount) $numberOfTagsLimit }}
        <br>
        <div class="post_tags_toggle button">{{ printf "all_%s" $key | i18n }}</div>
        {{- $tagsInfo := newScratch }}
        <div class="post_tags">
          <div class="tags_list">
            {{- range $value.Alphabetical }}
            {{ $tagsInfo.Add "tagsInfo" (slice .Name .Count)}}
            <a href='{{ absLangURL $key }}/{{ (replace .Name "#" "%23") | urlize }}/' class=" post_tag button button_translucent" data-position={{ .Count }}>
              {{- upper .Name -}}
              <span class="button_tally">{{ .Count }}</span>
            </a>
            {{ end }}
            <div class="tags_sort"><span title="sort alphabetically">[A~Z]</span><span title="sort by count">[0~9]</span>
            </div>
            <span class="tags_hide"><svg class="icon">
            <use xlink:href="#closeme"></use>
          </svg></span>
          </div>
        </div>
        {{ end }}
      </nav>
    </div>
    {{ end }}
    {{ end }}
  </section>
</aside>
